In [117]:
# !pip install pandas

In [118]:
import pandas as pd

In [119]:
pd.__version__

'2.2.3'

In [120]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows = 100)

In [121]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [122]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [123]:
from sqlalchemy import create_engine

In [124]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [125]:
engine.connect()

In [126]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [127]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv",  iterator=True, chunksize=100000)

In [128]:
df = next(df_iter)

In [129]:
len(df)

100000

In [130]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [131]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [132]:
df.head(n=0).to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

0

In [133]:
%time df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')

CPU times: total: 5.48 s
Wall time: 10.4 s

1000

In [134]:
from time import time

In [135]:
for df in df_iter:
    t_start = time()

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')

    t_end = time()
    
    print('inserted another chunk....., took %.3f second' %(t_end - t_start))

inserted another chunk....., took 10.649 second
inserted another chunk....., took 9.901 second
inserted another chunk....., took 10.578 second
inserted another chunk....., took 10.996 second
inserted another chunk....., took 10.303 second
inserted another chunk....., took 10.061 second
inserted another chunk....., took 9.836 second
inserted another chunk....., took 8.809 second
inserted another chunk....., took 8.947 second
inserted another chunk....., took 9.087 second
inserted another chunk....., took 9.754 second

C:\Users\rupesh\AppData\Local\Temp\ipykernel_32824\3454340376.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted another chunk....., took 9.708 second
inserted another chunk....., took 6.408 second

In [136]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [137]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [138]:
df_zones.to_sql(name='zones', con=engine, if_exists="replace")

265

In [139]:
green_taxi_iter = pd.read_csv("green_tripdata_2019-10.csv", iterator=True, chunksize=100000)
green_taxi_df = next(green_taxi_iter)
green_taxi_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.0

In [140]:
print(pd.io.sql.get_schema(green_taxi_df, name="green_taxi_trips", con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [141]:
green_taxi_df.lpep_pickup_datetime = pd.to_datetime(green_taxi_df.lpep_pickup_datetime)
green_taxi_df.lpep_dropoff_datetime  = pd.to_datetime(green_taxi_df.lpep_dropoff_datetime)

In [142]:
green_taxi_df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [143]:
green_taxi_df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

1000

In [144]:
for green_taxi_df in green_taxi_iter:
    t_start = time()

    green_taxi_df.lpep_pickup_datetime = pd.to_datetime(green_taxi_df.lpep_pickup_datetime)
    green_taxi_df.lpep_dropoff_datetime = pd.to_datetime(green_taxi_df.lpep_dropoff_datetime)

    green_taxi_df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

    t_end = time()
    
    print('inserted another chunk....., took %.3f second' %(t_end - t_start))

inserted another chunk....., took 10.099 second
inserted another chunk....., took 9.417 second

C:\Users\rupesh\AppData\Local\Temp\ipykernel_32824\157328955.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for green_taxi_df in green_taxi_iter:

inserted another chunk....., took 9.798 second
inserted another chunk....., took 8.000 second