In [2]:
import glob

In [3]:
file_names = glob.glob("data/retail_db/*/part-*")
file_names

['data/retail_db\\categories\\part-00000',
 'data/retail_db\\customers\\part-00000',
 'data/retail_db\\departments\\part-00000',
 'data/retail_db\\orders\\part-00000',
 'data/retail_db\\order_items\\part-00000',
 'data/retail_db\\products\\part-00000']

In [4]:
file_names[0].split('\\')

['data/retail_db', 'categories', 'part-00000']

In [5]:
import os

In [6]:
os.path.normpath(file_names[0])

'data\\retail_db\\categories\\part-00000'

In [7]:
import re

In [8]:
for file in file_names:
    print(re.split('[/\\\]', file))

['data', 'retail_db', 'categories', 'part-00000']
['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']

In [9]:
for file in file_names:
    path = os.path.normpath(file)
    print(path.split(os.path.sep))

['data', 'retail_db', 'categories', 'part-00000']
['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']

## Get Schema colum names from schema

In [10]:
import json

In [11]:
with open("data/retail_db/schemas.json") as file:
    schemas = json.load(file)
# schemas

In [12]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key= lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [13]:
order_columns = get_column_names(schemas, 'orders')

In [14]:
order_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

## Read CSV

In [15]:
import pandas as pd

In [16]:
orders = pd.read_csv('data/retail_db/orders/part-00000', names= order_columns)

In [17]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [18]:
file_names

['data/retail_db\\categories\\part-00000',
 'data/retail_db\\customers\\part-00000',
 'data/retail_db\\departments\\part-00000',
 'data/retail_db\\orders\\part-00000',
 'data/retail_db\\order_items\\part-00000',
 'data/retail_db\\products\\part-00000']

In [19]:
for file in file_names:
    print(f'Processing file: {file}')
    file_path_list = os.path.normpath(file).split(os.path.sep)
    ds_name = file_path_list[-2]
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    print(f'Shape of {ds_name} is {df.shape}')

Processing file: data/retail_db\categories\part-00000
Shape of categories is (58, 3)
Processing file: data/retail_db\customers\part-00000
Shape of customers is (12435, 9)
Processing file: data/retail_db\departments\part-00000
Shape of departments is (6, 2)
Processing file: data/retail_db\orders\part-00000
Shape of orders is (68883, 4)
Processing file: data/retail_db\order_items\part-00000
Shape of order_items is (172198, 6)
Processing file: data/retail_db\products\part-00000
Shape of products is (1345, 6)

## csv to json

In [20]:
tgt_base_dir = 'data/retail_json_db'

In [23]:
for file in file_names:
    print(f'Processing file: {file}')
    file_path_list = os.path.normpath(file).split(os.path.sep)
    ds_name = file_path_list[-2]
    file_name = file_path_list[-1]
    os.makedirs(os.path.join(
            os.path.normpath(tgt_base_dir), \
            ds_name
        ), \
        exist_ok=True
    )
    
    json_file_path = os.path.join(
        os.path.normpath(tgt_base_dir), \
        ds_name, \
        file_name
    )
    
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    df.to_json(
        json_file_path,
        orient="records",
        lines=True
    )

Processing file: data/retail_db\categories\part-00000
Processing file: data/retail_db\customers\part-00000
Processing file: data/retail_db\departments\part-00000
Processing file: data/retail_db\orders\part-00000
Processing file: data/retail_db\order_items\part-00000
Processing file: data/retail_db\products\part-00000